/*
Copyright 2020 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import './spectrum-tooltip.css';

/* move the #tip styling from spectrum-css onto a pseudo-element,
   replacing rotations with mirrors of two different border setups (horizontal vs vertical) */

#tip {
    border: none;
}

:host([placement*='right']) #tip,
:host([placement*='left']) #tip,
:host([placement*='bottom']) #tip {
    transform: none;
}

:host #tip:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: solid
        var(
            --spectrum-tooltip-tip-height,
            var(--spectrum-global-dimension-size-50)
        )
        transparent;
}

:host([placement*='top']) #tip:after,
:host([placement*='bottom']) #tip:after {
    border-top-color: var(
        --spectrum-tooltip-background-color,
        var(--spectrum-global-color-static-gray-700)
    );
}

:host([placement*='right']) #tip:after,
:host([placement*='left']) #tip:after {
    border-left-color: var(
        --spectrum-tooltip-background-color,
        var(--spectrum-global-color-static-gray-700)
    );
}

:host([placement*='bottom']) #tip:after {
    bottom: 100%;
    transform: scaleY(-1);
}

:host([placement*='left']) #tip:after {
    left: 100%;
}

:host([placement*='right']) #tip:after {
    right: 100%;
    transform: scaleX(-1);
}

/* fix margins for popper */

:host([data-popper-placement]) {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

:host([data-popper-placement='left']) #tip,
:host([data-popper-placement='right']) #tip {
    margin-top: 0;
}

:host([data-popper-placement*='top']) #tip,
:host([data-popper-placement*='bottom']) #tip {
    margin-left: 0;
}
